*~
*.o
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4/
missing
prototypes/gstreamer-spectrum/run
prototypes/homebrew/run
src/.deps/
src/agesture
src/config.h
src/config.h.in
src/stamp-h1
